In [2]:
import pandas as pd

df = pd.read_excel('../../data/nhomes_capacity.xlsx')

In [3]:
df.head()

        care_home_name  capacity  available_beds
0      Abbeygate Care         17               1
1           Abbeymere         18               2
2  Allenbrook Nursing         36               6
3  Amberley Care Home         25               4
4    Arcare For Forte          9               0

In [4]:
from pathlib import Path

In [5]:
home_dir = Path.home()
home_dir

PosixPath('/Users/muraliveerabahu')

In [6]:
cwd = Path.cwd()
cwd

PosixPath('/Users/muraliveerabahu/Documents/03_Bootcamp/Challenges/Project-3-Care-Home-Team-5/code/pages')

In [7]:
joined_path = cwd / '..' / '..' / 'data' / 'nhomes_capacity.xlsx'
joined_path

PosixPath('/Users/muraliveerabahu/Documents/03_Bootcamp/Challenges/Project-3-Care-Home-Team-5/code/pages/../../data/nhomes_capacity.xlsx')

In [8]:
dfs = pd.read_excel(joined_path)
dfs.head()

        care_home_name  capacity  available_beds
0      Abbeygate Care         17               1
1           Abbeymere         18               2
2  Allenbrook Nursing         36               6
3  Amberley Care Home         25               4
4    Arcare For Forte          9               0

In [9]:
# read the excel file
path_to_excel = Path(r'/Users/muraliveerabahu/Documents/03_Bootcamp/Challenges/Project-3-Care-Home-Team-5/data/nhomes_capacity.xlsx')
dfx = pd.read_excel(path_to_excel)

In [10]:
dfx.head()

        care_home_name  capacity  available_beds
0      Abbeygate Care         17               1
1           Abbeymere         18               2
2  Allenbrook Nursing         36               6
3  Amberley Care Home         25               4
4    Arcare For Forte          9               0